<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--进行Mybatis的相应的环境的属性定义-->
	<!--在本项目之中开启二级缓存-->
	<settings>
		<setting name="cacheEnabled" value="true"/>
	</settings>

	<!--为所有的vo类定义别名，这样就可以方便不同的配置文件中针对于Vo的访问-->
	<typeAliases>
		<!--以后使用别名News，替代了"com.zhy.vo.Member"-->
		<typeAlias type="com.zhy.vo.Member" alias="Member"/>
		<typeAlias type="com.zhy.vo.News" alias="News"/>
		<typeAlias type="com.zhy.vo.NewMember" alias="NewsMember"/>
		<typeAlias type="com.zhy.vo.Student" alias="Student"/>
		<typeAlias type="com.zhy.vo.Worker" alias="worker"/>
	</typeAliases>
	<environments default="development">		<!-- 配置数据源的相关信息 -->
		<environment id="development">
			<transactionManager type="jdbc" />	<!-- 使用JDBC方式管理 -->
			<dataSource type="POOLED">			<!-- 设置数据源类型，此时为POOLED -->
				<property name="driver" value="org.gjt.mm.mysql.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/test" />
				<property name="username" value="root" />
				<property name="password" value="" />
			</dataSource>
		</environment>
	</environments>

	<!--所有的映射文件的配置信息都需要在此处进行定义-->
	<!--映射文件信息-->
	<mappers>
		<mapper resource="zhy/vo/mapping/Member.xml"/>
		<mapper resource="zhy/vo/mapping/NewMember.xml"/>
		<mapper resource="zhy/vo/mapping/News.xml"/>
	</mappers>

</configuration>